VITE_FIREBASE_API_KEY=AIzaSyBzo23Bb1cAhAwLsdq-BtSyQlpnAX5teKw
VITE_FIREBASE_AUTH_DOMAIN=houseopinionapp.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=houseopinionapp
VITE_FIREBASE_STORAGE_BUCKET=houseopinionapp.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=80672201264
VITE_FIREBASE_APP_ID=1:80672201264:web:ab183de27b1583e6cb6bf5
VITE_FIREBASE_MEASUREMENT_ID=G-KBFD5VZTZD
